<ul class="uk-breadcrumb">
  <li>List</li>
</ul>

<p id="notice"><%= notice %></p>

<nav class="uk-navbar-container" uk-navbar>
  <div class="uk-navbar-left">
    <ul class="uk-navbar-nav">
      <li><%= link_to 'New Tag', new_admin_tag_path %></li>
    </ul>
  </div>
</nav>

<table class="uk-table uk-table-striped uk-margin">
  <thead>
    <tr>
      <th>Code</th>
      <th>Name</th>
      <th>Report Count</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tags.each do |tag| %>
      <tr>
        <td><%= tag.code %></td>
        <td><%= tag.name %></td>
        <td><%= tag.reports.count %></td>
        <td><%= link_to 'Show', admin_tag_path(tag) %></td>
        <td><%= link_to 'Edit', edit_admin_tag_path(tag) %></td>
        <td><%= link_to 'Destroy', admin_tag_path(tag), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>