<%= form.hidden_field :code, value: SubCategory.new_code  %>

<div class="uk-margin">
  <%= form.label :category_code %>
  <%= form.collection_select :category_code, Category.order(code: :asc), :code, :name, {}, {class: "uk-select"} %>
  <%= full_error_message_on(:sub_category, :category_code) %>
</div>

<div class="uk-margin">
  <%= form.label :name %>
  <%= form.text_field :name, {class: "uk-input black_border",  placeholder: "name"} %>
  <%= full_error_message_on(:sub_category, :name) %>

</div>

<div class="uk-margin">
  <%= form.label :en_name %>
  <%= form.text_field :en_name, {class: "uk-input black_border",  placeholder: "en_name"} %>
  <%= full_error_message_on(:sub_category, :en_name) %>
</div>

<div class="uk-margin">
  <%= form.label :order_code %>
  <%= form.text_field(:order_code, {class: "uk-input black_border",  placeholder: "order_code"}) %>
  <%= full_error_message_on(:sub_category, :order_code) %>
</div>

<div class="uk-margin uk-text-center">
  <%= form.submit "Create", {class: "uk-button uk-button-primary"} %>
</div>