<%
  category_code = 1
  sub_category_code = 1
%>
<% if @report.code %>
  <%
    category_code = @report.category.code
    sub_category_code = @report.sub_category.code
  %>
  <%= form.hidden_field :code, value: @report.code  %>
<% else %>
  <%= form.hidden_field :code, value: Report.new_code  %>
<% end %>

<div class="uk-margin">
  <%= form.label :category_code %>
  <%= form.select :category_code, options_from_collection_for_select(Category.order(code: :asc), :code, :name, selected: category_code), {}, {data: {remote: true, url: url_for(ajax_get_sub_categories_path)}, class: "uk-select" } %>
  <%= full_error_message_on(:report, :category_code) %>
</div>

<div class="uk-margin">
  <%= form.label :sub_category_code %>
  <%= form.select(:sub_category_code, 
    options_from_collection_for_select(SubCategory.order(code: :asc), :code, :name, selected: sub_category_code), 
    {}, 
    {id: "sub_category_code", class: "uk-select"}) %>
  <%= full_error_message_on(:report, :sub_category_code) %>
</div>

<div class="uk-position-relative" uk-slideshow="animation: fade">
  <%= form.label :image_code %>
  <% @images = Image.where(type_code: 1).order(code: "asc") -%>
  <div class="uk-position-relative uk-visible-toggle uk-light uk-position-bottom-center uk-position-small" tabindex="-1" uk-slider>
    <ul class="uk-slider-items uk-child-width-1-4 uk-child-width-1-6@s uk-child-width-1-8@m">
      <% @images.each_with_index do |image, i| -%>
      <li><label><%= form.radio_button(:image_code, image.code, {class: "uk-radio"}) %> <%= image_tag show_image_path(image.code), {height: "100"}  %></label></li>
      <% end -%>
    </ul>
    <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slider-item="previous"></a>
    <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slider-item="next"></a>
  </div>
</div>

<div class="uk-margin">
  <%= form.label :tag %>
  <div class="uk-margin check_box">
  <% Tag.order(created_at: :asc).each do |tag| %>
    <% is_tag = ReportTag.find_by(report_code: @report.code, tag_code: tag.code) %>
    <%= form.check_box :tags, {multiple: true, class: "uk-checkbox", checked: is_tag.present?}, tag.code, nil %> <%= form.label "tags_#{tag.code}", tag.name %>
  <% end %>
  </div>
</div>

<div class="uk-margin">
  <%= form.label :title %>
  <%= form.text_field(:title, {class: "uk-input", placeholder: "title"}) %>
  <%= full_error_message_on(:report, :title) %>
</div>

<div class="uk-margin">
  <%= form.label :description %>
  <%= form.text_field(:description, {class: "uk-input",  placeholder: "description"}) %>
  <%= full_error_message_on(:report, :description) %>
</div>

<div uk-tooltip="H3" class="uk-button uk-button-default uk-button-small" onclick="addH3();" uk-icon="tag"></div>
<div uk-tooltip="P" class="uk-button uk-button-default uk-button-small" onclick="addP();" uk-icon="pencil"></div>
<div uk-tooltip="Bold" class="uk-button uk-button-default uk-button-small" onclick="addBold();" uk-icon="bold"></div>
<div uk-tooltip="Code" class="uk-button uk-button-default uk-button-small" onclick="addCode();" uk-icon="google"></div>
<div uk-tooltip="Table" class="uk-button uk-button-default uk-button-small" onclick="addTable();" uk-icon="table"></div>
<div uk-tooltip="Link" class="uk-button uk-button-default uk-button-small" onclick="addA();" uk-icon="link"></div>
<div uk-tooltip="Image" class="uk-button uk-button-default uk-button-small" onclick="addImage();" uk-icon="image"></div>
<div uk-tooltip="Adsense" class="uk-button uk-button-default uk-button-small" onclick="addAd();" uk-icon="database"></div>

<div class="uk-margin">
  <%= form.label :info %>
  <%= form.text_area(:info, {class: "uk-textarea",  rows: 20, placeholder: "info"}) %>
  <%= full_error_message_on(:report, :info) %>
</div>

<div class="uk-margin">
  <%= form.label :is_hide %>
  <label><%= form.radio_button(:is_hide, false, {class: "uk-radio"}) %> Show</label>
  <label><%= form.radio_button(:is_hide, true, {class: "uk-radio"}) %> Hide</label>
  <%= full_error_message_on(:report, :is_hide) %>
</div>

<div class="uk-margin uk-text-center">
  <%= form.submit "Create", {class: "uk-button uk-button-primary"} %>
</div>

<script>
var area = document.getElementById('report_info');

function addCode()
{
  text = "<pre><code>\n\n</code></pre>"

	area.value = area.value.substr(0, area.selectionStart)
    + text
    + area.value.substr(area.selectionStart);
}

function addH3()
{
  text = "<h3 class=\"uk-heading-bullet\"></h3>"

	area.value = area.value.substr(0, area.selectionStart)
    + text
    + area.value.substr(area.selectionStart);
}

function addP()
{
  text = "<p></p>"

	area.value = area.value.substr(0, area.selectionStart)
    + text
    + area.value.substr(area.selectionStart);
}

function addTable()
{
  text = "<table class=\"uk-table uk-table-divider\">\n  <tr>\n    <th></th>\n    <th></th>\n  </tr>\n  <tr>\n    <td></td>\n    <td></td>\n  </tr>\n</table>"

	area.value = area.value.substr(0, area.selectionStart)
    + text
    + area.value.substr(area.selectionStart);
}

function addBold()
{
  text = " class=\"uk-text-bold\""

	area.value = area.value.substr(0, area.selectionStart)
    + text
    + area.value.substr(area.selectionStart);
}

function addA()
{
  text = "<p><a href=\"\" target=\"_blank\"></a></p>"

	area.value = area.value.substr(0, area.selectionStart)
    + text
    + area.value.substr(area.selectionStart);
}

function addImage()
{
  text = "<p class=\"article_img\"><img src=\"/image/show_image/\" alt=\"\" uk-tooltip=\"\" /></p>"

	area.value = area.value.substr(0, area.selectionStart)
    + text
    + area.value.substr(area.selectionStart);
}

function addAd()
{
  text = ""
  text += "<script async src=\"https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js\"><\/script>\n"
  text += "<ins class=\"adsbygoogle\"\n"
  text += "     style=\"display:block\"\n"
  text += "     data-ad-format=\"fluid\"\n"
  text += "     data-ad-layout-key=\"-4w+cf+1m-el+j5\"\n"
  text += "     data-ad-client=\"ca-pub-4328470216467775\"\n"
  text += "     data-ad-slot=\"5276586330\"><\/ins>\n"
  text += "<script>\n"
  text += "     (adsbygoogle = window.adsbygoogle || []).push({});\n"
  text += "<\/script>"

	area.value = area.value.substr(0, area.selectionStart)
    + text
    + area.value.substr(area.selectionStart);
}

</script>