<ul class="uk-breadcrumb">
  <li>List</li>
</ul>

<p id="notice"><%= notice %></p>

<nav class="uk-navbar-container" uk-navbar>
  <div class="uk-navbar-left">
    <ul class="uk-navbar-nav">
      <li><%= link_to 'New report', new_admin_report_path %></li>
    </ul>
  </div>
</nav>

<table class="uk-table uk-table-striped uk-table-middle uk-margin">
  <thead>
    <tr>
      <th>Code</th>
      <th>Sub Category</th>
      <th>Image</th>
      <th>Title</th>
      <th>Tag Count</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @reports.each do |report| %>
      <tr>
        <td><%= report.code %></td>
        <td><%= report.sub_category.name %></td>
        <td><%= image_tag(show_image_path(report.image.code), {width: "100"}) %></td>
        <td><%= link_to report.title, main_report_path(category_name: report.category.en_name, sub_category_name: report.sub_category.en_name, code: report.code) %></td>
        <td><%= report.tags.count %></td>
        <td><%= link_to 'Edit', edit_admin_report_path(report) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
