<% if @image.code %>
  <%= form.hidden_field :code, value: @image.code  %>
<% else %>
  <%= form.hidden_field :code, value: Image.new_code  %>
<% end %>

<div class="uk-margin">
  <div uk-form-custom>
    <%= form.label :img_file %>
    <%= form.file_field(:img_file) %>
    <button class="uk-button uk-button-default" type="button" tabindex="-1">Image Select</button>
  </div>
</div>

<div class="uk-margin uk-text-center">
  <%= form.submit "Create", {class: "uk-button uk-button-primary"} %>
</div>