<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= @title %></title>
    <meta name="description" content="<%= @meta_description %>" />
    <meta name="keywords" content="<%= @meta_keywords %>" />
    <meta property="og:title" content="<%= @title %>" />
    <meta property="og:description" content="<%= @meta_description %>" />
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%#= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://getuikit.com/assets/uikit/dist/js/uikit.min.js?1219" defer></script>
    <script src="https://getuikit.com/assets/uikit/dist/js/uikit-icons.min.js?1219" defer></script>
  </head>

  <body>
    <header>
      <%= render partial: "header" %>
    </header>
    <main class="uk-container uk-margin">
      <%= yield %>
    </main>
    <footer>
      <%= render partial: "footer" %>
    </footer>
    <nav>
      <%= render partial: "nav" %>
    </nav>

    <%= render partial: "google_ analytics" %>
    
  </body>
</html>
